<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="to.mephis.apiscrapercontrol">

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Need Internet Connection -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Need to go to the Internets -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- Need to be notified when Blueooth devices connect -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Settings"></activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ScraperActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".apiPoller"
            android:exported="false" />

        <receiver
            android:name=".alarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".BroadcastService" />

    </application>

</manifest>